.welcome img {
  width: 100vw;
  opacity: 50%;
}

.welcome p {
  font-size: 30px;
  color: white;
}

.welcome input {
  width: 400px;
  height: 48px;
  padding: 0px 20px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  border-width: 0px;
}

.welcome button {
  background-color: #db4dce;
  cursor: pointer;
  color: white;
  font-size: 18px;
  width: 130px;
  margin-left: 0px;
  height: 48px;
  border-radius: 0 5px 5px 0;
  border-width: 0px;
}

.welcome {
  background-image: url("/home/nishanth/wt_project-1/src/images/netflix_sl1_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
}
.welcome center {
  background-color: rgba(128, 0, 128, 0.418);
  height: 760px;
  padding-top: 200px;
}
