#FAQ_page {
  color: white;
  background-color: black;
}

#FAQ_page .outer_div {
  display: flex;
}

#FAQ_page .text_div,
.img_div {
  margin: 0 40px;
}

#FAQ_page .text_div {
  padding-top: 9vh;
}

#FAQ_page #GetStarted {
  width: 30vw;
  padding-left: 36.5vw;
}

#FAQ_page a {
  color: rgb(0, 140, 255);
}
