.d1 {
  display: flex;
}

.text,
.img {
  margin: 0 40px;
}
.text {
  padding-top: 9vh;
}
#main {
  background-color: black;
}

table{
  background-color: black;
}

#main p,
li,
h1,
h3 {
  color: white;
}

#GetStarted {
  width: 30vw;
  padding-left: 38vw;
}

/* .center{
  display: flex;
}
.center p{
  align-self:flex-start;

} */

