#forgotpassword {
    background-color: rgb(100, 3, 156);
    background-image: url("/home/nishanth/wt_project/src/images/bg5.jpg");
    background-size: 100vw;
    height: 80vh;
    padding-top: 10vh;
  }
  #form {
    background-color: rgba(253, 155, 245, 0.329);
    border-radius: 15px;
    width: fit-content;
    height: 400px;
    width: 600px;
    margin: auto;
  }
  #form button {
    width: 200px;
    cursor: pointer;
    height: 50px;
    font-size: larger;
    /* background-color: rgb(255, 93, 247); */
    background-color: rgba(134, 206, 211, 0.801);
    color: rgba(255, 255, 255, 0.788);
    border-width: 0px;
    border-radius: 10px;
    border-width: 2px;
    /* border-color: rgb(187, 72, 172); */
  }
  #title {
    font-size: 40px;
    color: #3f053a;
  }
  #forgotpassword input {
    font-size: larger;
    border-radius: 10px;
    border-width: 0px;
    height: 50px;
    padding: 0px 10px;
    width: 380px;
    background-color: rgb(252, 207, 253);
  }
  #text {
    font-size: larger;
    color: #3f053a;
  }
  #text_container {
    margin-left: 50px;
  }
  